@import  '../node_modules/bootstrap/less/bootstrap.less';
@import (inline)  '../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css';

@blue: #17B6FF;

p{color:@blue};
body{	height:100%;
  background-color: @blue;
	}
